@model SQLSolutions.Areas.Admin.ViewModels.ReportBookList
@{
    ViewBag.Title = "IndexBookReport";
}
<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        @Ajax.ActionLink("Book Report", "IndexBookReport", "Report", 
            new AjaxOptions {UpdateTargetId = "books", InsertionMode = InsertionMode.Replace})
    </li>
    <li role="presentation"> @Ajax.ActionLink("Transaction Report", "_TransactionReport", "Report",
                                 new AjaxOptions {UpdateTargetId = "transaction"})
    </li>
</ul>

    @Html.Partial("_BookReport")  


@*<div id="transaction">
    @Html.Partial("_TransactionReport")
</div>*@

