@model SQLSolutions.Areas.Admin.ViewModels.ReportBookList

@{
    ViewBag.Title = "IndexBookResult";
}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Book Reports</a></li>
    <li role="presentation"><a href="#">Transaction Reports</a></li>
</ul>
@Html.Partial("_BookReport")


